.details {
    background-color: #d8bfd8;
}
.details .container {
    display: flex;
}
.details .container .synopsis {
    color: #d8bfd8;
    height: 50em;
    font-size: 1.5em;
    flex: 1;
}
.details .container .image {
    flex: 1;
    height: 50em;

    
}

@media only screen and (max-width: 600px) {
    .details .container {
        flex-direction: column;
    }
    .details .container .image {
        height: 25em;
  }
  .details .container .synopsis {
      font-size: 1em;
  }
}